.popup {
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: visibility .4s, opacity .4s ease;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}